<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.heming.fast.mapper.ResourceTypeMapper">

    <resultMap id="resourceTypeMap" type="dev.heming.fast.entity.ResourceType">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="sort" property="sort"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del" property="del"/>
    </resultMap>

    <select id="selectResourceTypeList" resultSets="java.util.List" resultMap="resourceTypeMap">
        SELECT
            id,
            name,
            code,
            description,
            sort,
            creator,
            updater,
            create_time,
            update_time,
            del
        FROM
            heming_resource_type
        WHERE
            del = 1
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="code != null and code != ''">
            AND code = #{code}
        </if>
        ORDER BY sort
    </select>

</mapper>
